<h1>dart-websocket_rails testapp</h1>

<div>
  <label for="log-level">LogLevel</label>
  <select id="log-level">
  </select>
  <button id="start">Start</button>
</div>
<br />
<div>
  <textarea readonly id="status"></textarea>
  <textarea readonly id="log"></textarea>
</div>